body 				{ font-family: 'opensans'; font-style: normal; font-weight: 400; }
header				{ background-color: #105171; color:#fff; padding:10px 0 15px; }

nav a 		        { color:#fff; font-family: 'oilbats'; font-size: 20px!important; }
nav a:hover,
nav a.active 		{ color:#ECC256; }
a:focus {
    outline: 0;
    }